/*this is the basic styling sheet for the whole website
...for basic elements cutting across all the pages*/


code{
    background-color: rgba(77, 11, 11, 0.815);
    color: whitesmoke;
}

 /*basic styling for basic elements that cuts across*/

 html,body{
    height: 100%;
 }

 /*...........................................................
 styling the .container and its .block direct children
 */

 .container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    padding: 0;
    margin: 0;
 }

 .block{
    border: 1px solid red;  
}