/*this is the basic styling sheet for the whole website
...for basic elements cutting across all the pages*/


code{
    background-color: rgba(77, 11, 11, 0.815);
    color: whitesmoke;
}

 /*basic styling for basic elements that cuts across*/

 html,body{
    height: 100%;
 }

 /*...........................................................
 styling the .container and its .block direct children
 */

 .container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0;

    padding: 0;
    margin: 0;
 }

 .block{
    border: 1px solid red;  
}

/*distinctive styling of .block items, depending on their ids*/

.block#nav{
    flex-grow: 0.5;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;

    list-style-type: none;
}




/*styling the main section, second direct child of .container...
...it's a flex container as well, to 2 .box div-children*/

.block#main{
    flex-grow: 8;
    background-color: gainsboro;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    gap: 0;
}

/*styling of .box items [.block#main direct div-items]*/ 



/*styling the footer section, 3rd direct child of .container...
...it's a flex container as well, to 1 direct,paragraph,  child*/

.block#footer{
    flex-grow: 1;
    background-color: gainsboro;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}