/*the styling sheet for the project*/

code{
    background-color: rgba(77, 11, 11, 0.815);
    color: whitesmoke;
}

 /*basic styling for basic elements that cuts across*/

 html,body{
    height: 100%;
 }

  


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
     
    
    
 }

 
/*every div that's direct child of container-div is a flex item
... their styling*/

  .nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    background-color: black;
    height: 50px;
    padding: 5px;
    margin: 0;
 }

 .nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }

 .nav > .input{
    height: auto;
    color: white;
    font-weight: bold;
    margin-left: auto;
 }

.header{
     
background-color: rgb(224, 220, 220);
 
 }

  .main{
    background-color: whitesmoke;
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .footer{
    background-color: rgb(32, 30, 30);
    color: white;
    text-align: center;
 }

 .main > div{
   background-color: antiquewhite;
   color: black;
   padding: 5px;

   border-radius: 10px;
 }

 .main .mainnav{
   flex: 1;
 }