/*the styling sheet for the project*/

code{
    background-color: rgba(77, 11, 11, 0.815);
    color: whitesmoke;
}

.l1{
    background-color: gray;
}
nav ul{
    display: flex;
    background-color: black;
    border-bottom: "1px" "solid" "green";
     justify-content: end;
    height: 25px;

    justify-content: center;
}

/*this is styling for every list item that's a descendant of nav....
we use descendant-combinator for a selector....
all are flex items
*/

nav li{
flex:auto;
color: white;
font-weight: bold;

}

