/*the styling sheet for the project*/

code{
    background-color: rgba(77, 11, 11, 0.815);
    color: whitesmoke;
}

 /*basic styling for basic elements that cuts across*/

 html,body{
    height: 100%;
 }

  


.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0px;
     
    
    
 }

 
/*every div that's direct child of container-div is a flex item
... of class .block... their styling: */

.block{
  padding: 5px;
 
 }
  
 /*distinct styling for the .block divs*/

.block#main{
  flex-grow: 8;
  background-color: gainsboro;
  border: 1px solid red;  


  /*it's a flex container too*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

}

.block#navigation{
  flex-grow: 0.5;
  background-color: black;
  border: 1px solid red;  

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  margin: 0;
 
  list-style-type: none;
 }

 #navigation a,li{
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
 }

 #navigation a:hover{
  border-bottom: 2px solid white;
 }

.block#footer{
  flex-grow: 1;
  background-color: gainsboro;
  border: 1px solid red;  


  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  /*making footer a flex container as well*/

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*every div that's direct child of items .block are .box flex items
... their styling: 
we only have 2 .box -grandchildren of .container*/

.box{
  margin: 0;
  border: solid 1px rgb(53, 48, 48);
}

/*distinct styling of the .box items*/

/*.box that's direct child of .block#main*/

.block#main > .box{
  width: 60%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*.box that's direct child of .block#header...

& this is our nav-bar [horizontal]*/
 